
  <div class="container body-content">
      <h2>Contato</h2>
  <h3>Sua p&#xE1;gina de contato.</h3>

  <address>
    Marcelo Simonae<br />
    São Paulo, Brasil<br />

    <abbr title="Celular"></abbr>
    <a href="tel:+55 11 991208880">Clique aqui para ligar no +55 11 991208880</a>
  </address>

  <address>
    <strong>Support:</strong> <a href="mailto:msimonae@gmail.com?cc=msimonae@gmail.com&bcc=msimonae@gmail.com&subject=Dúvidas%20da%20Plataforma&body=Você%20foi%20Convidado%20pela%20DLWS">msimonae@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:msimonae@gmail.com?cc=msimonae@gmail.com&bcc=msimonae@gmail.com&subject=Dúvidas%20da%20Plataforma&body=Você%20foi%20Convidado%20pela%20DLWS">msimonae@gmail.com</a>
  </address>


</div>
