
  <div class="container body-content">
      <h2>Sobre</h2>
      <h3>Criado com o intuito de ensinar um pouco sobre o Framework Ruby on Rails, Contact List mostrará como aprender as peças que formam essa ferramenta
      tão poderosa.
      </h3>

      <p>
        Entre em contato com <a href="http://dlws2.gear.host">Marcelo Simonae</a> para saber mais sobre a ferramenta.
      <p>


      <p>DLWS2 Tecnologia</p>

  </div>
